<div class="main-section">
    <div class="container">

        <h1>frist site</h1>
        <div class="section-1 " id="homesection">
            <div class="row">
                <div class="col-6">
                    <h1 style="color: #474343;">Quality</h1>
                    <h1>Products with <br>breads sweet <br>Den</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim
                    </p>
                    <div>
                        <button type="button" class="btn btn-outline-dark btn-1">Read More</button>
                    </div>
                </div>
                <div class="col-6"><img src="../../assets/images/banner-image.png" alt=""></div>
                <br>
                <br>
                <br>
                <hr>
            </div>
        </div>

        <div class="section-2" id="about-section">
            <div class="row">
                <div class="col-6">
                    <img src="../../assets/images/cupcake-img.png" alt="">
                </div>
                <div class="col-6">
                    <h1>About Den <span style="color: #474343;">Shop</span></h1>
                    <p>About Den Shopconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim ve niam, quis nostrud exercitationconsectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation</p>
                    <div>
                        <button type="button" class="btn btn-outline-dark btn-1">Read More</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-3">
            <div class="card-group">
                <div class="card">
                    <img src="../../assets/images/1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center; color: red;">Croissants Breakfast </h5>

                    </div>

                </div>
                <div class="card">
                    <img src="../../assets/images/2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;  color: red;">Roll Cake </h5>

                    </div>

                </div>
                <div class="card">
                    <img src="../../assets/images/about-img3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;  color: red;">BreadFrench Toast</h5>

                    </div>

                </div>
            </div>

            <div class="section3-1">
                <div class="card-group">
                    <div class="card">
                        <img src="../../assets/images/about-img4.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center; color: red;"> Cup Cake </h5>

                        </div>

                    </div>
                    <div class="card">
                        <img src="../../assets/images/about-img5.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;  color: red;">Donut </h5>

                        </div>

                    </div>
                    <div class="card">
                        <img src="../../assets/images/about-img6.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;  color: red;">Chocolate Cup Cake</h5>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="section-4">
            <h1>Our <span style="color: #474343;"> Gallery </span></h1>
            <div class="row">
                <div class="col-3">
                    <img src="../../assets/images/8.png" alt="">
                </div>
                <div class="col-3">
                    <img src="../../assets/images/9.png" alt="">
                </div>
                <div class="col-3">
                    <img src="../../assets/images/10.png" alt="">
                </div>
                <div class="col-3">
                    <img src="../../assets/images/11.png" alt="">
                </div>
            </div>
        </div>


        <div class="section-5">
            <h1>Get in <span style="color: #474343;"> Touch</span></h1>
            <div class="row space">
                <div class="col-6" style="background-color: red; padding-top: 15px;">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Your name" aria-label="First name">
                    </div>
                    <br>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Phone Number" aria-label="First name">
                    </div>
                    <br>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-dark btn-1" style="margin-top: 10px;">Sent</button>
                    </div>

                </div>
                <div class="col-6">


                    <img src="../../assets/images/12.png" style="width: 511px; margin-left: 154px;" alt="">
                </div>
            </div>
        </div>

        <div class="section-6">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="1080" height="473" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123moviesz.nl"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://googlemapsembedcodegenerator.com
                "> how to add a map to wordpress </a><style>.gmap_canvas {overflow:hidden;background:none!important;height:473px;width:1080px;}</style></div></div>
        </div>

        <div class="section-7">
            <h1>Contact Us</h1>
            <h2>Address</h2>
            <div>
                <H3>LOCATION : Gb road 123 london Uk</H3>
                <H3>PHONE : (+71) 56982424536</H3>
                <H3>MAIL : bacerim@domain.com</H3>
            </div>
        </div>



    </div>
</div>